/* src/components/agenda-cliente/style.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
  }
  
  .inner-container {
    max-width: 960px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px #0000001a;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .divider-horizontal {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
  }
  
  .left-side, .right-side {
    padding: 20px;
    width: 100%;
  }

  .divider-vertical {
    width: 1px;
    background-color: #ccc;
      margin: 0 20px;
  }
  
  .service-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 2px 4px #0000001a;
  }
  
  .service-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .service-info {
    flex-grow: 1;
  }
  
  .service-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .service-duration {
    font-size: 14px;
    color: #666;
    margin: 0;
  }
  
  .service-price {
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .select-profissional {
    margin-top: 40px;
    font-size: 18px;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .data-title {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .data-title, .hora-title {
    margin-bottom: 20px;
    font-size: 18px;
    margin-top: 10px;
  }
  
  .horarios-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 12px;
  }
  
  .horarios-row {
    width: 100%;
    display: flex;
    gap: 10px; 
  }
  
  .horario-item {
    background-color: transparent; 
    color: #FFA500; 
    border: 2px solid #FFA500; 
    border-radius: 25px; 
    padding: 5px; 
    width: 60px; 
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .horario-item:hover {
    background-color: #FFA500; 
    color: white; 
  }

  .orange-button:hover {
    background-color: darkorange; 
  }
  